.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader-logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
  animation: fadeIn 1.2s ease-in-out infinite alternate;
}

.loader-spinner {
  width: 50px;
  height: 50px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animaciones */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
