/* === HERO PRINCIPAL === */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;
  overflow-x: hidden;
}

/* Contenedor */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* === IMAGEN === */
.hero-image {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* ocupa casi toda la altura */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* === TEXTO === */
.hero-content {
  flex: 1 1 40%;
  color: white;
  background: #07abd4cc;
  border-radius: 12px;
  padding: 2.5rem;
  text-align: center;
  box-sizing: border-box;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1;
  font-weight: lighter;
}

.hero-content p {
  text-align: center;
  font-size: 1.5rem;
  color: #f0f0f0;
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* === RESPONSIVE === */
@media (max-width: 1024px) {
  .hero-container {
    gap: 2rem;
  }

  .hero-image {
    height: 70vh;
  }

  .hero-content {
    padding: 2rem;
  }

  .hero-content h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 1rem;
    padding-top: 160px;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .hero-image {
    order: 1;
    width: 100%;
    height: auto;
  }

  .hero-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .hero-content {
    order: 2;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 1.9rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
