.bienvenida-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.bienvenida-overlay {

  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.bienvenida-content {
  text-align: center;
  color: #fff;
  max-width: 700px;
  padding: 2rem;
  animation: fadeIn 1s ease-in-out;
}

.bienvenida-titulo {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.bienvenida-texto {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.bienvenida-botones {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn-primario,
.btn-secundario {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 700;
  transition: background 0.3s, transform 0.2s;
}

.btn-primario {
  background:transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-primario:hover {
  background: hsla(195, 100%, 39%, 0.65);
  transform: scale(1.05);
}

.btn-secundario {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-secundario:hover {
  background: hsla(0, 0%, 100%, 0.65);
  color: #000;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width: 768px){
.bienvenida-overlay{
  align-items: center;
}
}