
.fondo {
  position: fixed;
  inset: 0;       /* equivale a top:0; right:0; bottom:0; left:0 */
  z-index: -1;
  overflow: hidden; /* oculta lo que sobresalga */
}

.fondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* hace que se adapte al contenedor */
  object-position: center; /* centra la parte importante */
}